export DB_PASSWORD="mysecretpassword"
export API_AUTH_KEY="valid-key"
export DB_NAME="servicecatalog"
export JAEGER_SERVICE_NAME="servicecatalog"
export JAEGER_AGENT_HOST="localhost"
export JAEGER_AGENT_PORT="6831"
